.customHeight {
  min-height: 80vh; /* Set minimum height to 100% of the viewport height */
}
.skillProgressBar {
  height: 30px;
}
.textColor,
span {
  color: #003b49;
}
.bgCOlor {
  background-color: #00bfb2;
  color: black;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 2%;
}
.Angular {
  width: 80%;
}
.React {
  width: 80%;
}
.Node {
  width: 70%;
}
.Javascript {
  width: 80%;
}
.Html {
  width: 85%;
}
.Css {
  width: 75%;
}
.Bootstrap {
  width: 70%;
}
.Typescript {
  width: 70%;
}
.jquery {
  width: 70%;
}
.git {
  width: 80%;
}
.mongodb {
  width: 70%;
}
.sql {
  width: 50%;
}
.as {
  width: 75%;
}
.java {
  width: 80%;
}
@media (min-width: 992px) {
  /* .customHeight {
    height: 80vh;
  } */

  .textTop {
    margin-top: -20rem;
  }
}

@media (max-width: 992px) {
  .skillsContainer {
    order: 2;
  }

  .textTop {
    order: 1;
  }
}
