/* Skills.module.css */

.customHeight {
  min-height: 80vh;
}

.skillProgressBar {
  height: 30px;
}

.textColor,
span {
  color: #003b49;
}

.bgCOlor {
  background-color: #7da1c4;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  padding-left: 2%;
}

.Angular,
.React,
.Node,
.Javascript,
.Html,
.Css,
.Bootstrap,
.Typescript,
.jquery,
.git,
.mongodb,
.sql,
.as,
.java {
  width: 100%;
}

.heading {
  font-size: 30px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .lead {
    font-size: 1.2rem !important;
    text-align: justify !important;
    hyphens: auto !important;
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .skillsContainer {
    order: 2;
  }

  .textTop {
    order: 1;
  }

  .skillsBox {
    display: block; /* Ensure it stacks vertically on smaller screens */
    margin-top: 2rem;
  }
}

@media (min-width: 992px) {
  .textTop {
    margin-top: 0;
    padding-top: 0; /* Reset any padding added previously */
  }
  
  .skillsContainer {
    text-align: center; /* Center the text */
    margin-top: 2rem; /* Add margin to prevent overlap */
  }

  .skillsBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem; /* Add spacing between rows */
  }
}
