/* About.module.css */
.customHeight {
  min-height: 80vh;
}

.textColor {
  color: #003b49;
  margin: 1.2rem;
}

.heading {
  font-size: 30px;
  font-weight: 500;
}

img {
  border-radius: 20px;
}

@media (max-width: 768px) {
  .customHeight {
    min-height: auto; 
    padding-bottom: 50px; 
  }

  .lead {
    font-size: 1.20rem !important;
    text-align: justify !important;
    hyphens: auto !important;
  }
}

@media (min-width: 769px) {
  .customHeight {
    min-height: 80vh;
  }
}