/* About.module.css */

.customHeight {
  min-height: 80vh; /* Set minimum height to 100% of the viewport height */
}
.textColor {
  color: #003b49;
  margin: 1.2rem;
}
.heading {
  font-size: 30px;
  font-weight: 500;
}
img{
  border-radius: 20px;
}
@media (max-width: 768px) {
  .customHeight {
    min-height: auto; /* Reset minimum height for smaller screens */
    padding-bottom: 50px; /* Add some bottom padding for spacing */
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .customHeight {
    min-height: 80vh; /* Set minimum height to 80% of the viewport height for medium-sized screens */
  }
}
