.menuOpen {
    height: auto; 
  }
  
  .headerInfo {
    padding: 15vh;
    margin-top: 10vh;
  }
  .mail{
    color: #000001;
  }
  .linkedIn{
    color: #0082ca;
  }
  .github{
    color: #333333;
  }
  .phone{
    color: #3b5998;
  }
  
  .name {
    font-size: 5rem; 
    color: #003b49;
  }

  .title{
    font-size: 1.5rem; 
    color: #003b49;
  }
  
  .intro {
    font-size: 1.3rem; 
    color: #003b49;
   
  }
  .logo{
    width: 80px;
    height: auto;
  }
  
  /* Desktop */
  .customHeight {
    min-height: 100vh; 
  }
  
  /* Mid screen */
  @media (min-width: 769px) and (max-width: 991px) {
    .customHeight {
      min-height: 80vh; 
    }
  }

/* Mobile */
  @media (max-width: 768px) {
    .customHeight {
      min-height: 100vh; 
      padding-top: 10px; 
    }
    .headerInfo {
      text-align: center; 
      padding: 0;
      margin-top: 30vh;
    }
  
    .name {
      font-size: 2rem; 
    }
  
    .title {
      font-size: 1.5rem; 
    }
  
    .intro {
      font-size: 1.25rem; 
    }
    ul{
      align-items: center;
    }
  }
  