.menuOpen {
    height: auto; /* Adjust height when menu is open */
  }
  
  .headerInfo {
    padding: 15vh; /* Adjust padding */
  }
  .mail{
    color: #000001;
  }
  .linkedIn{
    color: #0082ca;
  }
  .github{
    color: #333333;
  }
  .phone{
    color: #3b5998;
  }
  
  .name {
    font-size: 5rem; /* Larger font size */
    color: #003b49;
  }

  .title{
    font-size: 1.5rem; /* Larger font size */
    color: #003b49;
  }
  
  .intro {
    font-size: 1.3rem; /* Larger font size */
    color: #003b49;
   
  }
  .logo{
    width: 80px;
    height: auto;
  }
  /* Hamburger Menu Icon */
  .navbar-toggler {
    display: none; /* Hide by default */
  }
  
  /* Toggle hamburger menu and close icon on smaller screens */
  @media (max-width: 767px) {
    .navbar-toggler {
      display: block; /* Show hamburger menu icon */
      margin-left: auto; 
    }
  
    .navbar-collapse {
      display: none; /* Hide menu items by default */
    }
  
    .navbar-collapse.show {
      display: block; /* Show menu items when menu is open */
    }
  }

  /* Desktop */
  .customHeight {
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  }
  
  /* Mid screen */
  @media (min-width: 769px) and (max-width: 991px) {
    .customHeight {
      min-height: 80vh; /* Set minimum height to 80% of the viewport height for medium-sized screens */
    }
  }

/* Mobile */
  @media (max-width: 768px) {
    .customHeight {
      min-height: auto; /* Reset minimum height for smaller screens */
      padding-top: 50px; /* Add some top padding for spacing */
      padding-bottom: 50px; /* Add some bottom padding for spacing */
    }
    .headerInfo {
      text-align: center; /* Center-align the text on small screens */
    }
  
    .name {
      font-size: 2rem; /* Adjust the font size of the name for better readability */
    }
  
    .title {
      font-size: 1.5rem; /* Adjust the font size of the title for better readability */
    }
  
    .intro {
      font-size: 1.25rem; /* Adjust the font size of the introduction for better readability */
    }
  }
  