.customHeight {
  min-height: 80vh; /* Set minimum height to 80% of the viewport height */
}

h2,
p,
h3 {
  color: #003b49 !important;
}

.experienceContainer {
  border: 2px solid #94a596;
  border-radius: 12px;
  margin: 1rem;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
}

.experienceContainer:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.experienceColumn {
  position: relative;
  padding: 0 20px;
}

.experienceColumn:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #003b49; /* Color of the vertical line */
}

.companyName {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.companyDetails {
  margin-bottom: 1.5rem;
}

.taskList {
  padding-left: 0;
}

li {
  margin-bottom: 1rem;
  list-style-type: none;
  display: flex;
  align-items: start;
}

.taskIcon {
  color: #7da1c4;
  margin-right: 10px;
}
.textColor {
  color: #003b49;
  margin: 1.2rem;
}
.heading {
  font-size: 30px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .experienceColumn {
    padding: 0;
  }

  .experienceColumn:not(:last-child)::after {
    display: none;
  }

  .horizontalLine {
    width: 100%;
    height: 1px;
    background-color: #003b49; /* Color of the horizontal line */
    margin-top: 1.5rem; /* Adjust the margin as needed */
    margin-bottom: 1rem;
  }
}
